body{
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
}
a{
    text-decoration: none;
    color: #000000;
}
.aquarium-page{
    margin-top: 50px;
}
.text-rare{
  font-size: 15px;
  font-weight: 900;
  color:#0288D1;
}
.text-legendaire{
  font-size: 15px;
  font-weight: 900;
  color:#F9A825;
}
.text-commun{
  font-size: 15px;
  font-weight: 900;
  color:#424242;
}
.text-epique{
  font-size: 15px;
  font-weight: 900;
  color:#7E57C2;
}
.fiche-clown{
    color: #000000;
}
.toolbar{
    height: 70px;
}
.title-aquarium{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    font-size: 25px;
    color:#006DF0;
}
.logo-aquarium{
    width: 80%;
    margin-top: -15px;
}
.search{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabbar {
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
}
.tabbar__item {
  position: relative;
  display: table-cell;
  width: auto;
}
.tabbar__button {
  font-weight: 400;
  border: none;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  height: 49px;
  letter-spacing: 0;
  color: #999;
  vertical-align: top;
  background-color: transparent;
  border-top: none;
  width: 100%;
  font-weight: 400;
  line-height: 49px;
}


/*footer menu*/
.footer-menu {
	margin: 0 auto;
	padding: 0px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 0px;
    background-color: #304FFE;
}
.icon-aquarium{
    width: 65%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    text-decoration: none;
    display: inline-block;
}
.icon-aquarium:hover{
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}
.icon-collection{
    width: 50%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    text-decoration: none;
    display: inline-block;
}
.icon-collection:hover{
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}
.icon-boutique{
    width: 65%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    text-decoration: none;
    display: inline-block;
}
.icon-boutique:hover{
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3;
}

