body{
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
.text-rare{
    font-size: 15px;
    font-weight: 900;
    color:#0288D1;
  }
  .text-legendaire{
    font-size: 13px;
    font-weight: 900;
    color:#F9A825;
  }
  .text-commun{
    font-size: 15px;
    font-weight: 900;
    color:#424242;
  }
  .text-epique{
    font-size: 15px;
    font-weight: 900;
    color:#7E57C2;
  }
.text-boutique{
    color: #006DF0;
}
.toolbar{
    height: 70px;
}
.title-aquarium{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    font-size: 25px;
    color: #006DF0;
}
.logo-aquarium{
    width: 35%;
    margin-top: 10px;
}

.tabbar {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 49px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
}
.tabbar__item {
    position: relative;
    display: table-cell;
    width: auto;
}
.tabbar__button {
    font-weight: 400;
    border: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    height: 49px;
    letter-spacing: 0;
    color: #999;
    vertical-align: top;
    background-color: transparent;
    border-top: none;
    width: 100%;
    font-weight: 400;
    line-height: 49px;
}
  