body{
    background-image: #FFFFFF;
}
.logo-connection{
    width: 70%;
    margin-top: -50px;
}
.home{
    margin-top: 50px;
}
.title-home{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}
/* Formulaire */
.form-connection{
    margin-top: 40px; 
}
.form-control{
    margin-top: 10px;
}
.connection-nouveau{
    margin-top: 20px;
    margin-left: 30px;
}
.new-connection{
    color:#000000;
}
.connection-button{
    margin-top: 10px;
    border: 1px solid #006DF0;
    padding: 10px 25px;
    border-radius: 100px;
    font-size: 16px;
    text-align: center;
    background: #FFFFFF;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    text-decoration: none;
    display: inline-block;
}
.connection-button:hover {
    background: darkblue;
    color: #fff;
    cursor: pointer;
    border: 1px solid #darkblue;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
a{
    text-decoration: none;
    color: #006DF0;
    font-family: 'Roboto', sans-serif;
}
.text-mdp{
    color:#000000;
}

  
  