body {
    background: #FFFFFF;
}
a{
    text-decoration: none;
}
.tabs .tab a{
    color: #000000;
}
.tabs .tab a:hover{
    color: rgba(24, 103, 194, .81);

}
.star-blue{
    width: 5%;
}
.left-arrow{
    margin-top: 20px
}
.text-rare{
    font-size: 13px;
    font-weight: 900;
    color:#0288D1;
}
.text-legendaire{
    font-size: 13px;
    font-weight: 900;
    color:#F9A825;
}
.text-commun{
    font-size: 13px;
    font-weight: 900;
    color:#424242;
}
.text-epique{
    font-size: 13px;
    font-weight: 900;
    color:#7E57C2;
}
  
/* Profile sidebar */
.profile-userpic svg {
    width: 50%;
    height: 50%;
    margin-top: -30px;
}
.profile-usertitle {
    text-align: center;
    margin-top: 15px;
}
  
.profile-usertitle-name {
    color: #006DF0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
  
.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.tabbar {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    height: 49px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
}
.tabbar__item {
    position: relative;
    display: table-cell;
    width: auto;
}
.tabbar__button {
    font-weight: 400;
    border: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    height: 49px;
    letter-spacing: 0;
    color: #999;
    vertical-align: top;
    background-color: transparent;
    border-top: none;
    width: 100%;
    font-weight: 400;
    line-height: 49px;
}
  
