body{
    background-image: linear-gradient(blue, black);
    height: 910px;
}
.home{
    margin-top: 50px;
}
.title-home{
    font-family: 'Open Sans', sans-serif;
    font-size: 8em;
    color: #FFFFFF;
}
.decouverte{
    margin-top: 40px;
}
.title-decouverte{
    font-family: 'Baskerville', sans-serif;
    font-size: 3em;
    color: #FFFFFF;
}
.title-trait{
    margin-right: 40px;
}
.title-demarche{
    margin-top: 90px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 1.5em;
}
.text-demarche{
    font-family: 'Open Sans', sans-serif;
    margin-left: 140px;
    color: #FFFFFF;
    font-size: 1.1em;
    line-Height: 2.5;
}
a{
    text-decoration: none;
}
.button-decouverte{
    margin: 20px;
    margin-top: 25px;
    border: 1px solid darkblue;
    padding: 10px 25px;
    border-radius: 100px;
    font-size: 16px;
    text-align: center;
    background: darkblue;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    text-decoration: none;
    display: inline-block;
}
.button-decouverte:hover {
    background: darkblue;
    color: #fff;
    cursor: pointer;
    border: 1px solid #darkblue;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

a{
    color: #FFFFFF;
}
.fleche-home{
    margin-left: 20px;
}

/* Bubbles */
.bubbles {
    position: absolute;
    bottom: 0;
    z-index: 5;
    margin-right: 50px;
    background-color: white;
    border-radius: 50%;
    opacity: .50;
    width: 40px;
    height: 40px;
    animation: up 4s infinite;
}
.bubble-2 {
    left: 350px;
    animation: up 2s infinite;
}
.bubble-3 {
    left: 750px;
    opacity: .30;
    animation: up 5s infinite;
} 
.bubble-4 {
    left: 1150px;
    animation: up 6s infinite;
} 
.bubble-5 {
    left: 50px;
    animation: up 5s infinite;
}
.bubble-6 {
    left: 300px;
    opacity: .30;
    animation: up 3s infinite;
}
.bubble-7 {
    left: 670px;
    animation: up 4s infinite;
}
.bubble-8 {
    left: 1050px;
    opacity: .30;
    animation: up 3s infinite;
}
  
/* Swim Animation */
@keyframes swim {
    0% {
      transform: translateY(-50px) translateX(0) rotate(30deg);
    }
    25% { 
      transform: translateY(50px) translateX(250px) rotate(20deg);
    }
    50% {
      transform: translateY(100px) translateX(500px);
    }
    75% {
      transform: translateY(50px) translateX(850px) rotate(-20deg);
    }
    100% {
      transform: translateY(-170px) translateX(1200px) rotate(-40deg);
    }
} 
/* Bubbles Animation */
@keyframes up {
    100% {
      transform: translateY(-800px);
    }
}
  
  
  