body{
    background: #000000;
}
.poisson-un{
    position: left;
    margin-top: -70px;
    margin-left: -500px;
    z-index: 1000;
}
.poisson-deux{
    position: absolute;
    position: left;
    margin-top: -500px;
    z-index: -1000;
}
.poisson-trois{

}