body{
    background: #000000;
}
.poisson-un{
    position: fixed;
    margin-left: 600px;
    margin-top: 600px;
}
.poisson-deux{
    position: fixed;
    width: 25%;
    margin-left: 400px;
    margin-top: 500px;
}
.poisson-trois{
    position: fixed;
    margin-left: 200px;
    margin-top: 500px;
}
.poisson-quatre{
    position: fixed;
    margin-left: 1000px;
    margin-top: 500px;
}
.poisson-cinq{
    position: fixed;
    margin-left: 100px;
    margin-top: 200px; 
}
.poisson-six{
    position: fixed;
    margin-left: 1000px;
    margin-top: 400px; 
}